In [7]:
pd.options.display.max_columns = 100
df1.head()

,Unnamed: 0,First Name,Last Name,Gender,Age,CNIC,Applied Course,Domicile,Email,Phone number,What best describes your access to a computer?,Academic Concentration,CGPA/Final Average GPA,Highest level of Education,In which district do you prefer to attend training?,Score,Initial Screening Percentage,Points Scored Screning Test,Screening Test Percentage,Agreegate Percentage,Submitted At,Allocated District,Status,Batch,Internal Assessments,Certifications,Job Placement,Comments,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43
0,e5yfyvtxeaibqs5dq99xe5yfyv4medpw,Waseem,Akram,Male,29,1710303501939,AWS,Charsadda,Waseemhse999@gmail.com,0.0,Having own laptop,Engineering,Below 2.5,Bachelor / Other,Peshawar,43,0.286667,6,15%,0.218333,43700.18598,NaN,13-Not Shortlisted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,eoc6jib9op0hael95eoc6jzf538ue38n,Asifa khan,Asifa,Female,23,135031253685,Azure MCSD,Abbottabad,Asifakhan392@gmail.com,351370.0,Having own laptop,Other,Between 2.5 and 3.0,Master,Abbottabad,41,0.273333,NaN,NaN,0.136667,43705.70079,NaN,13-Not Shortlisted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,vyeb2coyq0bbpacvvyeb2n9xm3dj9iia,nadia,khattak,Female,23,1730183562728,Azure MCSD,Peshawar,naskkhattak@gmail.com,312917897.0,Having own laptop,Computer Science/IT,Above 3.0,Bachelor / Other,Peshawar,99,0.660000,20,50%,0.580000,43711.56671,NaN,3-Appears in Technical Test,ADS-AZ-C1-B1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7nvijf66gghedg67n0z6ffi7qwcpqw2u,Muhammad,Ayaz,Male,21,2160254263717,Azure MCSD,Orakzai,Ayazmuhammad653@gmail.com,312969693.0,No regular access to computer,Other,Below 2.5,Bachelor / Other,Peshawar,-17,-0.113333,NaN,NaN,-0.056667,43703.28394,NaN,13-Not Shortlisted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,smjwvaj3otua59zxksmjwvak7xceb1dq,Muhammad waqas khan,Khan,Male,26,1110111156401,Azure MCSD,Bannu,Wk506751@gamil.com,332332368.0,use computer at school/ university,Computer Science/IT,Below 2.5,Master,Peshawar,29,0.193333,NaN,NaN,0.096667,43698.75301,NaN,13-Not Shortlisted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df1.rename(columns = {'In which district do you prefer to attend training?': 'Training district'}, inplace=True)
df1.head()

,Unnamed: 0,First Name,Last Name,Gender,Age,CNIC,Applied Course,Domicile,Email,Phone number,What best describes your access to a computer?,Academic Concentration,CGPA/Final Average GPA,Highest level of Education,Training district,Score,Initial Screening Percentage,Points Scored Screning Test,Screening Test Percentage,Agreegate Percentage,Submitted At,Allocated District,Status,Batch,Internal Assessments,Certifications,Job Placement,Comments,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43
0,e5yfyvtxeaibqs5dq99xe5yfyv4medpw,Waseem,Akram,Male,29,1710303501939,AWS,Charsadda,Waseemhse999@gmail.com,0.0,Having own laptop,Engineering,Below 2.5,Bachelor / Other,Peshawar,43,0.286667,6,15%,0.218333,43700.18598,NaN,13-Not Shortlisted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,eoc6jib9op0hael95eoc6jzf538ue38n,Asifa khan,Asifa,Female,23,135031253685,Azure MCSD,Abbottabad,Asifakhan392@gmail.com,351370.0,Having own laptop,Other,Between 2.5 and 3.0,Master,Abbottabad,41,0.273333,NaN,NaN,0.136667,43705.70079,NaN,13-Not Shortlisted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,vyeb2coyq0bbpacvvyeb2n9xm3dj9iia,nadia,khattak,Female,23,1730183562728,Azure MCSD,Peshawar,naskkhattak@gmail.com,312917897.0,Having own laptop,Computer Science/IT,Above 3.0,Bachelor / Other,Peshawar,99,0.660000,20,50%,0.580000,43711.56671,NaN,3-Appears in Technical Test,ADS-AZ-C1-B1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7nvijf66gghedg67n0z6ffi7qwcpqw2u,Muhammad,Ayaz,Male,21,2160254263717,Azure MCSD,Orakzai,Ayazmuhammad653@gmail.com,312969693.0,No regular access to computer,Other,Below 2.5,Bachelor / Other,Peshawar,-17,-0.113333,NaN,NaN,-0.056667,43703.28394,NaN,13-Not Shortlisted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,smjwvaj3otua59zxksmjwvak7xceb1dq,Muhammad waqas khan,Khan,Male,26,1110111156401,Azure MCSD,Bannu,Wk506751@gamil.com,332332368.0,use computer at school/ university,Computer Science/IT,Below 2.5,Master,Peshawar,29,0.193333,NaN,NaN,0.096667,43698.75301,NaN,13-Not Shortlisted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df1.shape

(5018, 44)

In [11]:
df1.describe()

,Age,CNIC,Phone number,Score,Initial Screening Percentage,Agreegate Percentage,Submitted At,Allocated District,Internal Assessments,Certifications,Job Placement,Comments,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43
count,5018.000000,5.018000e+03,5.017000e+03,5018.000000,5018.000000,5015.000000,5017.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.0,10.0
mean,24.484456,9.711921e+13,6.978951e+11,66.778996,0.445193,0.340216,43706.233994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2.0
std,3.639618,3.925323e+15,7.114647e+11,23.700804,0.158005,0.172577,8.627912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
min,17.000000,0.000000e+00,0.000000e+00,-18.000000,-0.120000,-0.056667,43697.629770,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2.0
25%,22.000000,1.420388e+12,3.461590e+09,52.000000,0.346667,0.213333,43699.472810,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2.0
50%,24.000000,1.610194e+12,9.231490e+11,67.000000,0.446667,0.303333,43702.376460,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2.0
75%,26.000000,1.730140e+12,9.233620e+11,81.000000,0.540000,0.448333,43711.092250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2.0
max,49.000000,1.730185e+17,9.233519e+12,152.000000,1.013333,0.940000,43731.626220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2.0

In [13]:
df1.describe(include='O')

,Unnamed: 0,First Name,Last Name,Gender,Applied Course,Domicile,Email,What best describes your access to a computer?,Academic Concentration,CGPA/Final Average GPA,Highest level of Education,Training district,Points Scored Screning Test,Screening Test Percentage,Status,Batch
count,5018,5018,5016,5018,5018,5018,5018,5016,5016,5016,3506,5016,2762,2763,4791,206
unique,5018,2384,1351,2,3,34,5017,4,3,3,2,42,54,78,11,4
top,sxnwdg7mfw83e5qsxnwdatt1f20jodcr,Muhammad,Khan,Male,Azure MCSD,Peshawar,aqibasmat1@gmail.com,Having own laptop,Computer Science/IT,Above 3.0,Bachelor / Other,Peshawar,14,33%,3-Appears in Technical Test,ADS-AZ-C1-B1
freq,1,369,629,4636,1797,964,2,4505,3067,2487,2262,2626,105,128,1687,98